<div style="padding-left: 10px;padding-top: 10px;padding-right: 10px;margin-top: 0px">

  <div
    routerLink="/main/farmer/view_items"
    (click)="setTopic('View Items')"
    #viewItems="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':viewItems.isActive?'#c0050e':''}">
    View Items
  </div>

  <div
    routerLink="/main/farmer/manage_items"
    (click)="setTopic('Manage Items');resetItem()"
    #manageItems="routerLinkActive"
    routerLinkActive
    [ngStyle]="{'color':manageItems.isActive?'#c0050e':''}">
    Manage Items
  </div>
<!--  <div-->
<!--    routerLink="/main/farmer/chat"-->
<!--    (click)="setTopic('Chat');resetItem()"-->
<!--    #manageItems="routerLinkActive"-->
<!--    routerLinkActive-->
<!--    [ngStyle]="{'color':manageItems.isActive?'#c0050e':''}">-->
<!--    Chat-->
<!--  </div>-->

</div>
